<nav>
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">SmartIF</span>
    </div>
    <div class="sidebar">
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">SmartIF</span>
      </div>
      <div class="sidebar-content">
        <ul class="lists">
          <li class="list">
            <a href="{% url 'classrooms:overview' %}" class="nav-link">
              <i class="bx bx-home-alt icon"></i>
              <span class="link">Geral</span>
            </a>
          </li>
          {% for block in blocks %}
            <li class="list">
              <a href="{% url 'classrooms:block' block.id %}" class="nav-link">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">{{ block.name }}</span>
              </a>
            </li>
      
          {% endfor %}
          <li class="list">
            <a href="{% url 'classrooms:block_create' %}" class="nav-link">
              <i class="bx bx-home-alt icon"></i>
              <span class="link">Adicionar Ambiente</span>
            </a>
          </li>
        </ul>
        <div class="bottom-cotent">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-cog icon"></i>
              <span class="link">Área do administrador</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-log-out icon"></i>
              <span class="link">Sair</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>