* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* provisório */
.classroom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
}

.classroom {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.classroom h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.classroom p {
  font-size: 16px;
  margin: 10px 0;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color:black;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
}

/*provisório*/